/* begin.css v1.1 | https://github.com/upabove/begin.css | License: none (public domain) */
a, abbr, acronym, address, applet, audio, article, aside,
b, big, blockquote, body, button,
canvas, caption, center, cite, code,
dd, del, details, dfn, div, dl, dt,
em, embed,
fieldset, figure, figcaption, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
iframe, img, input, ins,
kbd,
label, legend, li,
mark, menu,
nav,
object, output,
ol,
p,
ruby,
q,
s, samp, section, small, span, strike, sub, summary, sup,
table, tbody, td, tfoot, thead, th, time, tt, tr,
ul,
var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, *, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

article, aside, details, div, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  font: inherit; }

input[type="submit"], button {
  cursor: pointer; }
